* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*.background-image {
    background-image: url("images/headphones_hero_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}*/

.logo {
    height: 30px;
    position: relative;
    
}

body {
  background-image: url("images/headphones_hero_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100vh;
  color: white;
}

a {
    margin: 10px 20px;
    color: white;
}
headerlinks {
    float: right;
}

.firstheading, .firstbody {
    text-align: center;
}

h1 {
    margin-top: 17%;
}

.frontpagedescription {
    margin-left: 26.5%;
    margin-right: 26.5%;
}

.calltoaction {
    margin-top: 2%;
}